<div class="landing-body">
  <p class="landing-prompt">{{localize "TOKEN_PRESETS.Landing.prompt"}}</p>
  <div class="landing-actions">
    <button type="button" data-action="manage">
      <i class="fa-solid fa-sliders"></i>
      <span>{{localize "TOKEN_PRESETS.Landing.manage"}}</span>
    </button>
    <button type="button" data-action="applyTokens">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      <span>{{localize "TOKEN_PRESETS.Landing.applyTokens"}}</span>
    </button>
    <button type="button" data-action="tagActors">
      <i class="fa-solid fa-tag"></i>
      <span>{{localize "TOKEN_PRESETS.Landing.tagActors"}}</span>
    </button>
  </div>
</div>
